.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--ligth-grey);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  .logo {
    display: none;
  }

  a {
    color: var(--teal);
    font-weight: 700;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    align-items: center;
  }

  a:hover {
    color: var(--teal-dark);
  }

  a .expanded-item {
    display: none;
  }

  li {
    list-style-type: none;
  }

  li:last-child {
    bottom: 0;
  }

}

.sidebar:hover {
  --sidebar-width: 200px;
  animation: fadeIn 0.5s;

  .logo {
    display: inherit;
    width: 200px;
    margin-bottom: 50px;
    padding-top: 30px;
  }

  a .expanded-item {
    display: block;
  }

  .logout {
    margin-top: 50px;
  }

}

.sidebar:not(:hover) {
  .nav-links {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;

    span {
      font-size: 35px;
    }

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
