<nav class="sidebar close">
  <div class="logo-details">
    <img src="assets/images/logo.svg" class="logo expanded-item ">
  </div>
  <ul class="nav-links pe-auto">
    <li>
      <a href="">
        <span class="material-symbols-outlined">home</span>
        <span class="expanded-item">Home</span>
      </a>
    </li>
    <li>
      <a href="users" routerLink="users">
        <span class="material-symbols-outlined">person</span>
        <span class="expanded-item">Users</span>
      </a>
    </li>
    <li>
      <a href="budgets" routerLink="budgets">
        <span class="material-symbols-outlined">calculate</span>
        <span class="expanded-item">Budgets</span>
      </a>
    </li>
    <li>
      <a href="tasks" routerLink="tasks">
        <span class="material-symbols-outlined">build</span>
        <span class="expanded-item">Tasks</span>
      </a>
    </li>
  </ul>
</nav>
