/* SCSS HEX */
:root {
  --indigo: #202a45;
  --indigo-dark: #161e2f;
  --black: #3C4048;
  --super-ligth-grey: #f6f6fa;
  --ligth-grey: #aac0e8;
  --grey: #617383;

}

/* Global variables */
:root {
  --sidebar-width: 50px;
}
