<app-hearder-list (setSearch)="setSearch($event)" [entityURL]="'tasks'" [title]="'Tasks'">
</app-hearder-list>
<div class="table-responsive">
  <div class="container px-0 py-5">
    <div class="row">
      <div class="col-lg-7 w-100 bg-white rounded shadow p-0">
        <!-- Fixed header table-->
        <div class="table-responsive">
          <table class="table table-fixed">
            <thead>
            <tr>
              <th class="col-1" scope="col">#</th>
              <th class="col-4" scope="col">Collaborator</th>
              <th class="col-4" scope="col">Client</th>
              <th class="col-2" scope="col">Status</th>
              <th class="col-1 d-flex justify-content-end" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="!!items.length">
              <tr *ngFor="let task of items">
                <td class="col-1" scope="row">{{ task.id }}</td>
                <td class="col-4 text-truncate">{{ task.collaborator?.name || 'Not assigned' }}</td>
                <td class="col-4 text-truncate">{{ task.budget?.client?.name }}</td>
                <td class="col-2">
                  <div class="badge rounded-pill" [ngClass]="task.taskStatusModel.color">
                    {{ task.taskStatusModel.label }}
                  </div>
                </td>
                <td class="col-1 d-flex justify-content-end align-items-center action-column">
                  <ng-container [ngTemplateOutletContext]="{ item: task }"
                                [ngTemplateOutlet]="dropdown">
                  </ng-container>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="!items.length">
              <h2 class="text-center lead w-100 mt-3">No tasks found.</h2>
            </ng-container>
            </tbody>
          </table>
        </div>
        <!-- End -->
      </div>
    </div>
  </div>
</div>

<ng-template #dropdown let-item="item">
  <div container="body" ngbDropdown>
    <button class="btn border-0 btn-sm" ngbDropdownToggle type="button">
      <span class="material-symbols-outlined">more_vert</span>
    </button>
    <div ngbDropdownMenu>
      <button [routerLink]="item.id + '/view'" ngbDropdownItem>View</button>
      <button [disabled]="item.approval" [routerLink]="item.id + '/edit'" ngbDropdownItem>Edit</button>
      <button (click)="openDeleteModal(item)" [disabled]="item.approval" ngbDropdownItem>Delete</button>
    </div>
  </div>
</ng-template>
