<app-hearder-list (setSearch)="setSearch($event)" [entityURL]="'users'" [title]="'Users'">
</app-hearder-list>
<div class="table-responsive">
  <div class="container px-0 py-5">
    <div class="row">
      <div class="col-lg-7 w-100 bg-white rounded shadow p-0">

        <!-- Fixed header table-->
        <div class="table-responsive">
          <table class="table table-fixed">
            <thead>
            <tr>
              <th class="col-1" scope="col">#</th>
              <th class="col-3" scope="col">Name</th>
              <th class="col-4" scope="col">Email</th>
              <th class="col-3" scope="col">Profile</th>
              <th class="col-1 d-flex justify-content-end" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="!!items.length">
              <tr *ngFor="let user of items">
                <td class="col-1" scope="row">{{ user.id }}</td>
                <td class="col-3 text-truncate">{{ user.name }}</td>
                <td class="col-4 text-truncate">{{ user.email }}</td>
                <td class="col-3">
                <span *ngFor="let profile of  getProfiles(user?.profile || [])"
                      class="badge rounded-pill bg-primary me-2">
                  {{profile}}
                </span>
                </td>
                <td class="col-1 d-flex justify-content-end align-items-center action-column">
                  <ng-container [ngTemplateOutletContext]="{ item: user }"
                                [ngTemplateOutlet]="dropdown">
                  </ng-container>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="!items.length">
              <h2 class="text-center lead w-100 mt-3">No items found.</h2>
            </ng-container>
            </tbody>
          </table>
        </div>
        <!-- End -->
      </div>
    </div>
  </div>
</div>

<ng-template #dropdown let-item="item">
  <div container="body" ngbDropdown>
    <button class="btn border-0 btn-sm" ngbDropdownToggle type="button">
      <span class="material-symbols-outlined">more_vert</span>
    </button>
    <div ngbDropdownMenu>
      <button [routerLink]="item.id + '/view'" ngbDropdownItem>View</button>
      <button [disabled]="item.id == 1" [routerLink]="item.id + '/edit'" ngbDropdownItem>Edit</button>
      <button (click)="openDeleteModal(item)" [disabled]="item.id == 1" ngbDropdownItem>Delete</button>
    </div>
  </div>
</ng-template>


